body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "header header header" "projects projects projects" "experience experience experience" "form form form";
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1350px) {
  body {
    font-size: medium;
  }
}
@media (max-width: 950px) {
  body {
    font-size: small;
  }
}

header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(14, 31, 31);
  position: relative;
  height: auto;
  width: 100vw;
  gap: 2vw;
  padding: 0 5vw;
}
@media (max-width: 1155px) {
  header {
    flex-flow: column nowrap;
    gap: 1vw;
    padding: 0 1vw;
  }
}

img {
  width: 30vw;
  border-radius: 9999px;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-flow: column wrap;
  place-content: space-between;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
}

h3 {
  padding: 3px;
}

aside img {
  opacity: 0.4;
  transition: opacity 1000ms;
}

aside img:nth-child(1) {
  transition-delay: 400ms;
}

aside img:nth-child(2) {
  transition-delay: 800ms;
}

aside img:nth-child(3) {
  transition-delay: 500ms;
}

aside img:nth-child(4) {
  transition-delay: 1000ms;
}

aside img:nth-child(5) {
  transition-delay: 700ms;
}

aside img:nth-child(6) {
  transition-delay: 200ms;
}

aside img:nth-child(7) {
  transition-delay: 900ms;
}

aside img:nth-child(8) {
  transition-delay: 400ms;
}

aside img:nth-child(9) {
  transition-delay: 1200ms;
}

aside:hover img {
  opacity: 1;
}

.front_end h3:nth-child(2) {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  position: relative;
}

.front_end h3:nth-child(1) {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  position: absolute;
}

.github_image {
  width: auto;
  height: 35px;
}

.border {
  color: black;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke, 1px 1px 0 whitesmoke, -1px 1px 0 whitesmoke;
}

.wave {
  color: #09f;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
.title {
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  box-sizing: border-box;
  gap: 3vw;
  padding: 5vw;
  width: 65vw;
  height: auto;
}

.name {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  box-sizing: border-box;
}

.front_end {
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.contact_button {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  position: relative;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  gap: 1vw;
  padding: 5px;
  width: auto;
  height: auto;
  transition-duration: 2s;
  opacity: 0.4;
}
.contact_button:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px whitesmoke;
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 2vw;
  width: min-content;
  height: min-content;
}

.react_image,
.js_image,
.css_image,
.html_image,
.mysql_image,
.python_image,
.typescript_image,
.figma_image {
  width: 4vw;
  height: auto;
}
@media (max-width: 1250px) {
  .react_image,
  .js_image,
  .css_image,
  .html_image,
  .mysql_image,
  .python_image,
  .typescript_image,
  .figma_image {
    width: 7vw;
  }
}

.github_image,
.linkedin_image {
  width: 4vw;
  height: auto;
}
@media (max-width: 1150px) {
  .github_image,
  .linkedin_image {
    width: 7vw;
  }
}

#tech {
  display: flex;
  flex-flow: column;
  place-content: center;
  gap: 2vh;
  box-sizing: border-box;
  grid-area: tech;
  border-radius: 0 0 10px 10px;
  width: auto;
  height: auto;
  position: absolute;
  left: 2vw;
  top: 3vh;
}

.technology {
  gap: 10px;
}

#experience {
  grid-area: experience;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  padding: 3vh;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  background-color: rgb(14, 31, 31);
  color: black;
}

#experience h2 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

#experience article {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  width: 90vw;
  height: auto;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}

#experience article aside {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 35vw;
  height: auto;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
}

#experience article div {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

#experience article div ul {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  width: 35vw;
}

#projects {
  grid-area: projects;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: center;
  gap: 10vh;
  padding: 10vh;
  box-sizing: border-box;
  background-color: rgb(14, 31, 31);
  width: 100vw;
  height: auto;
}
@media (max-width: 955px) {
  #projects {
    flex-flow: column nowrap;
    place-items: center;
    gap: 5vh;
  }
}

#projects div {
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  border-radius: 10px;
  padding: 1vw;
  width: 75vw;
  height: auto;
  box-sizing: border-box;
  background-color: whitesmoke;
  color: black;
  box-sizing: border-box;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 60%;
}

#projects div video {
  border-radius: 10px;
  width: 100%;
  height: 95%;
}

#projects h2 {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 60% cover 70%;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  gap: 30px;
  box-sizing: border-box;
  width: 35vw;
  height: auto;
}

.contact fieldset {
  border: none;
  border-radius: 30px;
  width: fit-content;
  height: auto;
  box-sizing: border-box;
  padding: 2vh;
}

.contact_imagens {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  box-sizing: border-box;
  border-radius: 30px;
  gap: 2vw;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: whitesmoke;
}

.contact img {
  position: relative;
  padding: 10px;
  width: 4vw;
  height: auto;
  opacity: 0.5;
  transition: opacity 1000ms;
  background-color: rgb(14, 31, 31);
}
.contact img:hover {
  opacity: 1;
}
@media (max-width: 1250px) {
  .contact img {
    width: 8vw;
  }
}

#form {
  grid-area: form;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  width: 100vw;
  height: 55vh;
  padding: 5vh 10vw;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgba(17, 16, 16, 0.95);
}

#education {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  align-items: center;
  padding: 10px;
  gap: 4vh;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
