
.contact{
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  

  gap: 1vw;
  box-sizing: border-box;

  width: 35vw;
  height: auto;
}
.contact fieldset{
  border: none;
  border-radius: 30px;

  width: fit-content;
  height: auto;
  box-sizing: border-box;
  padding: 2vh;

}
.contact_imagens{
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  box-sizing: border-box;
  border-radius: 30px;
  
  gap: 3vw;
  padding: 10px;

  width: auto;
  height: auto;
  
  
}

.contact img{
  position: relative;
  padding: 1vh;
  width: 12vh;
  height: auto;
  opacity: 0.5;
  transition: opacity 1000ms;
  background-color: whitesmoke ;
  &:hover{
    opacity: 1;
  }
  
  @media (max-width: 1250px){
    width: 10vw;
  }
}

#form{
  grid-area: form;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  
  

  width: 100vw;
  height: 55vh;
  padding: 5vh 10vw;
  gap: 5vw;

  box-sizing: border-box;
  background-color: rgb(17, 16, 16, 95%)
}

#education{
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: center;

  padding: 1vh;
  gap: 3vh;
  box-sizing: border-box;
}