header{
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(14, 31, 31);
  position: relative;
  

  height: auto;
  width: 99vw;
  gap:  5vw;
  padding: 2vh 5vw;
  @media (max-width: 1155px){
    flex-flow: column nowrap;  
    gap: 3vh;  
    padding: 0 1vw;
  }
}

img{
  width: 30vw;
  border-radius: 9999px;
  box-sizing: border-box;
}

ul{
  display: flex;
  flex-flow: column wrap;
  place-content: space-between;
  list-style-type: none;

  gap: 10px;
  margin: 0;
  padding: 0;
} 
h3{
  padding: 3px;

}

aside img {
  opacity: 0.4;
  transition: opacity 300ms;
}

aside img:nth-child(1){ transition-delay: 400ms;}
aside img:nth-child(2){ transition-delay: 800ms;}
aside img:nth-child(3){ transition-delay: 500ms;}
aside img:nth-child(4){ transition-delay: 1000ms;}
aside img:nth-child(5){ transition-delay: 700ms;}
aside img:nth-child(6){ transition-delay: 200ms;}
aside img:nth-child(7){ transition-delay: 900ms;}
aside img:nth-child(8){ transition-delay: 400ms;}
aside img:nth-child(9){ transition-delay: 1200ms;}

aside:hover img {
  opacity: 1;
}

.front_end h3:nth-child(2){
  
  border: none;
  border-radius: 10px;
  position: relative;

}
.front_end h3:nth-child(1){
  
  border: none;
  border-radius: 10px;
  position: absolute;

}

.github_image{
  width: auto;
  height: 35px;
}

.wave{
  color: rgb(211, 18, 18);
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave{
  0%, 100%{
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%

    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.title{
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  box-sizing: border-box;

  gap: 5vh;
  padding: 5vw;
  width: 65vw;
  height: auto;
  
}

.name{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  box-sizing: border-box;

  
  
}

.front_end{
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  box-sizing: border-box;
  

  width: auto;
  height: auto;
  position: relative;
  box-sizing: border-box;
  
  
}

.contact_button{
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  position: relative;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  gap: 1vw;
  padding: 5px;

  width: auto;
  height: auto;
  
  transition-duration: 2s;
  opacity: 0.4;

  &:hover{
    opacity: 0.9;
    box-shadow: 0 0 5px whitesmoke;
  }
  
}


.photo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  padding: 1vw;

  width: min-content;
  height: min-content;
  

}

.react_image,
.js_image,
.css_image,
.html_image,
.mysql_image,
.python_image,
.typescript_image,
.figma_image{
  border-radius: 10px;
  width: 4vw;
  height: auto;
  @media (max-width: 1250px){
    width: 7vw;
  }
}

.github_image,
.linkedin_image{
  border-radius: 12px;
  width: 4vw;
  height: auto;
  @media (max-width: 1150px){
    width: 7vw;
  }
}

#tech{
  display: flex;
  flex-flow: column;
  place-content: center; 

  gap: 4vh;
  
  box-sizing: border-box;
  
  grid-area: tech;

  width: auto;
  height: auto;

  position: absolute;
  left: 2vw;
  top: 3vh;
  
}



